@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 30px;
}

.logo {
    /* display: flex; */
    align-items: center;
}

.logo img {
    height: 90px;
}

nav ul {
    list-style: none;
    gap: 22px;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}




/* footer */

footer {
    /* background: #efeeee; */
    color: #333;
    padding: 30px 20px;
    font-size: 14px;
}
.logo2 img{
    width: 30%;
    height: 200px;
    display: block;
    margin-bottom: -40px;
    margin-left: -25px;
    
}
.footer-contents{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-wrap: wrap; /* Ensure content wraps to next line if necessary */
    justify-content: space-evenly; /* Distribute items evenly across the container */
    align-items: center; /* Align items to the top of the container */
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content > div {
    width: 40%;
    margin-bottom: 20px;
}

.footer-content h4 {
    color: blue;
    /* font-size: 1.0em; */
    margin-bottom: 20px;
}
.footer-p{
    text-decoration: none;
    color: #000;
}
.footer-content ul {
    list-style: none;
}

.footer-content ul li {
    color: #000;
    margin-bottom: 30px;
}

.footer-content ul li a {
    color: #000;
    text-decoration: none;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-p{
    width: 50%;
    text-align: right;
    margin-bottom: 10px;
}

.footer-bottom ul {
    color: #000;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: right;
}

.footer-bottom ul li {
    margin: 0 10px;
}

.footer-bottom ul li a {
    color: #000;
    text-decoration: none;
}

.footer-bottom ul li a:hover {
    text-decoration: underline;
}